@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --color-background: #ffffff;
    --color-foreground: #09090b;

    --color-muted: #f4f4f5;
    --color-muted-foreground: #71717a;

    --color-popover: #ffffff;
    --color-popover-foreground: #09090b;

    --color-card: #ffffff;
    --color-card-foreground: #09090b;

    --color-border: #e4e4e7;
    --color-input: #e4e4e7;

    --color-primary: var(--color-blue-700);
    --color-primary-foreground: var(--color-blue-50);

    --color-secondary: var(--color-blue-500);
    --color-secondary-foreground: var(--color-blue-50);

    --color-accent: #f4f4f5;
    --color-accent-foreground: #18181b;

    --color-destructive: var(--color-red-500);
    --color-destructive-foreground: var(--color-red-50);

    --color-success: var(--color-green-500);
    --color-success-foreground: var(--color-green-50);

    /* Radius */
    --radius-sm: calc(0.5rem - 4px);
    --radius-md: calc(0.5rem - 2px);
    --radius-lg: 0.5rem;
}

body {
    background-color: var(--color-background);
    color: var(--color-foreground);
}